/*  Resets  */
h1, h2, h3, h4, h5, h6, button, a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    font-weight: 400;
}
p, label, input, span, div {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
html {
    overflow: hidden;
}
a {
    color: #fff;
    text-decoration: underline;
}
* {
    box-sizing: border-box;   
}
.row {
    margin-top: 0;
    margin-right: 0;
}
main h1 {
    margin-top: 0;
}    

/*  Helpers  */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*  Icon styles  */
.i {
    height: 25px;
    width: 100%;
    display: block;
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
}
i.i-back {
    background-image: url('/static/icons/back.svg');
}
i.i-info {
    background-image: url('/static/icons/info.svg'); 
}
i.i-about {
    background-image: url('/static/icons/about.svg'); 
}
i.i-contact {
    background-image: url('/static/icons/contact.svg'); 
}
i.i-home {
    background-image: url('/static/icons/home.svg'); 
}
i.i-portfolio {
    background-image: url('/static/icons/portfolio.svg'); 
}